#body {
    background-color: #1b345d;
    min-height: 790px;
    width: 970px;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
}

#header {
    background-color: #cf3036;
    min-height: 70px;
    width: 930px;
    color: #c2cbda;
    border-radius: 8px;
    font-size: 50px;
    margin: 10px;
    padding: 10px;
}

#home {
    background-color: #2a7d8c;
    min-height: 200px;
    width: 180px;
    display: inline-block;
    border-radius: 8px;
    color: #47b0c3;
    vertical-align: left;
    line-height: auto;
    margin: 10px;
    padding: 10px;
}

#main_content {
    background-color: #0e1822;
    height: 580px;
    width: 710px;
    display: inline-block;
    border-radius: 8px;
    color: #a0b2c4;
    position: absolute;
    vertical-align: left;
    margin: 10px;
    padding: 10px;
}

#footer {
    background-color: #5d6673;
    border-radius: 8px;
    color: #9dadc7;
    min-height: 25px;
    width: 940px;
    position: absolute;
    top: 745px;
    left: 15px;
    display: inline-block;
    vertical-align: left;
    margin: 10px;
    padding: 10px;
}

b {
    color: #4798ae;
}

span {
    color: #473eb1;
}