* {
    margin: 15px;
    padding: 15px;
}

#wrapper {
    background-color: silver;
    margin: 0px auto;
    min-height: 615px;
    width: 950px;
}

#header {
    background-color: green;
    min-height: 150px;
}

#navigation {
    background-color: blue;
    display: inline-block;
    min-height: 250px;
    width: 180px;
}

#main_content {
    background-color: red;
    display: inline-block;
    min-height: 350px;
    position: absolute;
    width: 648px;
}

.subcontents {
    background-color: yellow;
    display: inline-block;
    min-height: 140px;
    width: 150px;
}

#advertisement {
    background-color: purple;
    min-height: 80px;
    width: 580px;
}